:root {
	--bg: #efefef;
	--bg-alt: #dddddd;
	--col-text: #333333;
	
	--col-accent: hsla(78, 78%, 42%, 0.6);
	--col-accent-bright: hsl(78, 78%, 42%);
	
	--col-link: hsl(239, 83%, 51%);
	--col-link-active: hsl(14, 79%, 45%);
	--col-link-visited: hsl(325, 62%, 48%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #333333;
		--bg-alt: #444444;
		--col-text: #efefef;
		
		--col-link: hsl(223, 68%, 69%);
		--col-link-active: hsl(9, 69%, 62%);
	}
}

html, body { font-size: 100%; margin: 0; }

body {
	background: var(--bg);
	color: var(--col-text);
	display: grid;
	
	grid-template-columns: 10em 18em auto 15em 10em;
	grid-template-rows: 4em auto auto auto;
	grid-template-areas: 
		". header header header ."
		". dropzone settings settings ."
		". output output wordlist ."
		". help help help ."
		". footer footer footer .";
	
	font-family: sans-serif;
}

h1 {
	grid-area: header;
}

#dropzone-mask {
	grid-area: dropzone;
	
	margin: 1em;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	
	display: grid;
	justify-items: center;
	align-items: center;
}
#settings {
	grid-area: settings;
	margin: 1em; padding: 0.5em;
	border: 0.3em dotted #aaaaaa;
}
#wordlist-container {
	grid-area: wordlist;
	margin: 1em;
	display: flex; flex-direction: column;
}
#wordlist-container h2 { margin: 0.3em 0 0.5em 0; }

#output {
	grid-area: output;
	margin: 1em;
	
	display: grid;
	grid: 2em auto / auto;
	justify-items: center;
	align-items: center;
	
	border: 0.3em solid var(--col-accent);
	transition: border-color 0.25s;
}
#output:hover {
	border-color: var(--col-accent-bright);
}

#help {
	grid-area: help;
}

footer {
	grid-area: footer;
	
	background: hsla(0, 0%, 80%, 0.2);
	margin-top: 10em;
	text-align: center;
}

/*****************************************************************************/

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: var(--col-accent-bright);
}
a { color: var(--col-link);                 }
a:visited { color: var(--col-link-visited); }
a:active { color: var(--col-link-active);   }
small { font-size: 0.5em; vertical-align: middle;	}

label { font-weight: bold; }
textarea {
	box-sizing: border-box;
	width: 100%; min-height: 25em;
	padding: 0.5em; margin-bottom: 0.5em;
	font-size: 1rem;
	font-family: "Ubuntu", "Open Sans", "sans-serif";
	
	border: 0; border-radius: 0.25em;
	background: var(--bg-alt);
	color: var(--col-text);
}
img { vertical-align: middle; }

:focus { outline: 0.2em solid var(--col-accent-bright); }

hr {
	width: 90%;
	border: 0.1em solid var(--col-accent);
	border-radius: 0.2em;
	height: 0;
}

.settings-row {
	padding: 0.5em 0;
}
.dropzone {
	text-align: center;
	border: 0.3em dashed #aaaaaa;
	transition: border 0.2s;
}
.dropzone-active    {
	color: transparent;
	border: 0.3em dashed hsl(203, 79%, 55%);
}

.wordsearch { border-collapse: collapse; }
.wordsearch td {
	width: 1em;
	height: 1em;
	text-align: center;
}
.hidden-char { background: hsla(9, 67%, 56%, 0.5); }

.caution::before { content: "⚠️ "; }
.caution {
	color: var(--col-text);
	background: hsla(33, 100%, 50%, 0.5);
	border: 0.2em solid hsl(38, 82%, 60%);
	border-radius: 0.2em;
	padding: 0.25em 0.45em 0.25em 0.45em;
}


/*
███    ███  ██████  ██████  ██ ██      ███████
████  ████ ██    ██ ██   ██ ██ ██      ██
██ ████ ██ ██    ██ ██████  ██ ██      █████
██  ██  ██ ██    ██ ██   ██ ██ ██      ██
██      ██  ██████  ██████  ██ ███████ ███████
*/

@media (max-width: 875px) {
	body {
		grid-template-columns: 5em 10em auto 15em 5em;
	}
}

@media (max-width: 580px) {
	body {
		grid-template-columns: 1em auto 1em;
		grid-template-rows: auto minmax(8em, 50vh) auto auto minmax(20em, 90vh) auto;
		grid-template-areas: 
			". header ."
			". dropzone ."
			". settings ."
			". wordlist ."
			". output ."
			". help ."
			". footer .";
	}
}
